@import "src/styles/variables.scss";

.app-button {
  &:global(.MuiButtonBase-root) {
    background-color: $app-primary-color;
    text-transform: unset;
    &:hover {
      background-color: $app-primary-color;
    }
    &:global(.Mui-disabled) {
      color: $app-primary-color;
      background-color: $app-secondary-color;
    }
  }
}
