@import "src/styles/variables.scss";

.pay-by-emi__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  max-width: 250px;
  margin: 0 auto;
  padding: 20px;
}
@media screen and (max-width: $small-mobile-max-width) {
  .pay-by-emi__container {
    width: 95%;
  }
}
