@import "src/styles/variables.scss";
.pre-pay-amount__container{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 25px;
  :global(.loan-input__container) {
    width: 45%;
  }
  :global(.date-picker__container) {
    width: 45%;
  }
}
.pre-payment-choice__container {
  display: flex;
  flex-direction: column;
  align-items: center; 
  gap: 15px;
  .pre-payment-choice__text {
    font-size: 14px;
    font-weight: 700;
    color: $app-primary-color; 
    text-align: center;
  }
  .principal-month__container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 25px;
    :global(.loan-input__container) {
      width: 45%;
    }
    :global(.date-picker__container) {
      width: 45%;
    }
  }
  .pay-by-principal-increase__checkbox {
    :global(.MuiCheckbox-root.Mui-checked) {
      color: $app-primary-color;
    }
    :global(.MuiTypography-root) {
      color: $app-primary-color;
      font-weight: $font-weight-700;
    }
  }
  .increment-factor__container {
    display: flex;
    justify-content: center;
  }
}
@media screen and (max-width: $mobile-max-width) {
  .pre-pay-amount__container{
    flex-direction: column;
    gap: 5px;
    :global(.loan-input__container) {
      width: 95%;
    }
    :global(.date-picker__container) {
      width: 95%;
    }
  }
  .pay-by-principal__container {
    .principal-month__container {
      flex-direction: column;
      gap: 5px;
      :global(.loan-input__container) {
        width: 100%;
      }
      :global(.date-picker__container) {
        width: 100%;
      }
    }

    .pay-by-principal-increase__checkbox {
      :global(.MuiTypography-root) {
        font-size: $font-size-14;
      }
    }
  }
}
