@import "src/styles/variables.scss";

.date-picker__container {
  .MuiInputLabel-root{
    color: $app-primary-color;
    font-weight: $font-weight-700;
  }
  .MuiOutlinedInput-input{
    font-weight: $font-weight-700;
    color: $app-primary-color;
  }
  .MuiSvgIcon-root{
    color: $app-primary-color;
  }
  .MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline{
    border-color: $app-primary-color;
  }
}
