@import "src/styles/variables.scss";

.loan-details__container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 5px;
  flex-basis: 50%;
  :global(.loan-input__container) {
    width: 60%;
  }
  .loan-rate-tenure__container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    :global(.loan-input__container) {
      width: 40%;
      :global(.MuiTextField-root .MuiOutlinedInput-input) {
        text-align: right;
      }
    }
  }
}
:global(.MuiDateCalendar-root){
  height: 40vh;
}
@media screen and (max-width: $mobile-max-width) {
  .loan-details__container {
    padding: 0 10px 0 10px;
    :global(.loan-input__container) {
      width: 55%;
    }
    .loan-rate-tenure__container {
      :global(.loan-input__container) {
        width: 35%;
      }
    }
  }
}
