@import "src/styles/variables.scss";

.pay-by-principal__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  grid-gap: 15px;
  padding: 20px;
  :global(.loan-input-field__container) {
    width: 75%;
    .updated-principal__input {
      flex-direction: row-reverse;
      :global(.MuiInputBase-root.MuiInput-root .MuiInput-input) {
        text-align: left;
      }
    }
  }

  .pay-by-principal-increase__checkbox {
    :global(.MuiCheckbox-root.Mui-checked) {
      color: $app-primary-color;
    }
    :global(.MuiTypography-root) {
      color: $app-primary-color;
      font-weight: $font-weight-700;
    }
  }
}
@media screen and (max-width: $mobile-max-width) {
  .pay-by-principal__container {
    :global(.loan-input-field__container) {
      width: 100%;
      :global(.input-field__box) {
        justify-content: center;
      }
    }
  }
}
