@import "src/styles/variables.scss";
.radio-button-group__container {
  :global(.MuiFormLabel-root) {
    color: $app-primary-color;
    font-weight: $font-weight-700;
  }
  :global(.MuiRadio-root.Mui-checked) {
    color: $app-primary-color; 
  }
}
