@import "src/styles/variables.scss";

.home-loan__container {
  .loan-result__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    grid-gap: 20px;
    .result-label {
      font-weight: $font-weight-700;
    }
  }
}

@media screen and (max-width: $mobile-max-width) {
  .home-loan__container {
    .loan-result__container {
      padding: 0 20px;
      font-size: $font-size-12;
    }
  }
}
