@import "src/styles/variables.scss";
.payment-year-selection__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}
@media screen and (max-width: $mobile-max-width) {
  .payment-year-selection__container {
    flex-direction: column;
  }
}
