/* ========== Font :: Family =============== */
$primary-font-family: 'Tahoma';


/* ========== Font :: Size =============== */
$font-size-12: 12px;
$font-size-14: 14px;
$font-size-16: 16px;
$font-size-20: 20px;

/* ========== Font :: Weight =============== */
$font-weight-500: 500;
$font-weight-700: 700;


/* ========== Color =============== */
$color-black: #000000;
$color-eerie-black : #1a1919;
$color-dark-coral: #d25a4b;
$color-midnight-green: #075761;
$color-white: #FFFFFF;
$color-persian-green:#00b386;
$color-anti-flash-white : #ebf9f5;

/* ========== Media Resolution =============== */
$mobile-max-width : 767px; 