/* ========== Font :: Family =============== */
$primary-font-family: 'Neue Montreal';


/* ========== Font :: Size =============== */
$font-size-20: 20px;
$font-size-16: 16px;

/* ========== Font :: Weight =============== */
$font-weight-500: 500;
$font-weight-700: 700;


/* ========== Color =============== */
$color-black: #000000;
$color-eerie-black : #1a1919;
$color-dark-coral: #d25a4b;
$color-midnight-green: #075761;
$color-white: #FFFFFF;

/* ========== Media Resolution =============== */
$mobile-max-width : 767px;