@import "src/styles/variables.scss";
:global(.MuiAlert-message) {
  font-weight: $font-weight-700;
  color: $app-primary-color;
}
.amortization-amount__container {
  &:global(.MuiList-root) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    max-width: 1000px;
    :global(.MuiListItem-root) {
      width: 25%;
      display: flex;
      justify-content: center;
    }
  }
}

@media screen and (max-width: $small-mobile-max-width) {
  .amortization-amount__container {
    &:global(.MuiList-root) {
      display: block;
      :global(.MuiListItem-root) {
        width: 100%;
      }
    }
  }
}
