@import "src/styles/variables.scss";

.pre-payment__container {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .loan-details__container{
    padding: 10px 0;
  }
}

@media screen and (max-width: $small-mobile-max-width) {
  .pre-payment__container {
    flex-direction: column;
    align-items: center;
  }
}
